/*
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
import { connect } from 'react-redux';
{{#if wantHeaders}}
import Helmet from 'react-helmet';
{{/if}}
{{#if wantActionsAndReducer}}
import select{{properCase name}} from './selectors';
{{/if}}
{{#if wantCSS}}
import CSSModules from 'react-css-modules';

import styles from './styles.css';
{{/if}}

export class {{ properCase name }} extends React.Component { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      {{#if wantCSS}}
      <div styleName="{{ camelCase name }}">
      {{else}}
      <div>
      {{/if}}
        {{#if wantHeaders}}
        <Helmet
          title="{{properCase name}}"
          meta={{curly true}}[
            {{curly true}} name: 'description', content: 'Description of {{properCase name}}' {{curly}},
          ]{{curly}}
        />
        {{/if}}
      This is {{properCase name}} container !
      </div>
    );
  }
}

{{#if wantActionsAndReducer}}
const mapStateToProps = select{{properCase name}}();
{{/if}}

function mapDispatchToProps(dispatch) {
  return {
    dispatch,
  };
}

{{#if wantActionsAndReducer}}
export default connect(mapStateToProps, mapDispatchToProps)({{#if wantCSS}}CSSModules({{ properCase name }}, styles){{else}}{{ properCase name }}{{/if}});
{{else}}
export default connect(mapDispatchToProps)({{#if wantCSS}}CSSModules({{ properCase name }}, styles){{else}}{{ properCase name }}{{/if}});
{{/if}}
